FOO
*.o
*.a
*.d
*.host
*.hahost
*.spike
*.haspike
*.sa
*.elf
*.swp
*.enc
*.na
*.log

ibex_simple_system_pcount.csv
target/simple_mmio_plugin.so

*.cmd
*.lds
*.dmp
*.map
*.ta
*/dyn_list

ssysarch_tests/tee_c_ecosystem/ta/include/common
ssysarch_tests/tee_c_ecosystem/ta/include/tee_c_test.c

ssysarch_tests/ree_c_ecosystem/common
ssysarch_tests/ree_c_ecosystem/benchmark.c 
ssysarch_tests/ree_c_ecosystem/benchmark 

ssysarch_tests/ree_wasm_ecosystem/common
ssysarch_tests/ree_wasm_ecosystem/benchmark.c 
ssysarch_tests/ree_wasm_ecosystem/benchmark